// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin d-flex($align: center, $justify: center, $direction: row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin set-w-h($width, $height: true) {
  @if ($height) {
    $height: $width;
  }

  width: $width;
  height: $height;
}

@mixin rounded {
  border-radius: 50% !important;
}

@mixin px($value) {
  padding-left: $value;
  padding-right: $value;
}

@mixin pt($value) {
  padding-top: $value;
}

@mixin pb($value) {
  padding-bottom: $value;
}