// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin d-flex($align: center, $justify: center, $direction: row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}


@mixin text($number) {
  font-size: map-get($headings, $number, 'size');
  font-weight: map-get($headings, $number, 'weight');
  line-height: map-get($headings, $number, 'line-height');
  letter-spacing: map-get($headings, $number, 'letter-spacing');
  font-family: map-get($headings, $number, 'font-family');
}

@mixin set-w-h($width, $height: true) {
  @if ($height) {
    $height: $width;
  }

  width: $width;
  height: $height;
}

@mixin rounded {
  border-radius: 50% !important;
}

@mixin px($value) {
  padding-left: $value;
  padding-right: $value;
}

@mixin py($value) {
  padding-top: $value;
  padding-bottom: $value;
}

@mixin pa($value) {
  padding: $value;
}

@mixin pt($value) {
  padding-top: $value;
}

@mixin pb($value) {
  padding-bottom: $value;
}